body {
	background: lightblue;
}

.carousel-width {
	width : 80%;
	min-width : 700px;
}

.slate-background {
	background-color : lightseagreen;
}

.row-margin-bottom {
	margin-bottom : 15px;
}

.row.display-flex {
  display: flex;
  flex-wrap: wrap;
}
.row.display-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}